p{
  color: blue;
  background-color: black;
  font-family: 'Times New Roman', Times, serif;
}
h1{
    text-align:center ;
}
img{
    width: 50%;
    height: 50vh;
    justify-content: center;
    margin-left: 400vh;
}